In [1]:
import numpy as np
import pandas as pd

In [2]:
path = "./Online_Retail.csv"
retail_data = pd.read_csv(path, encoding="windows-1252")

print(type(retail_data))
print(retail_data)

<class 'pandas.core.frame.DataFrame'>
       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

## Structures and functions

In [4]:
# get columns names
retail_data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [6]:
for idx, column in enumerate(retail_data.columns):
    print((idx + 1), column)

1 InvoiceNo
2 StockCode
3 Description
4 Quantity
5 InvoiceDate
6 UnitPrice
7 CustomerID
8 Country

In [8]:
num_rows, num_cols = retail_data.shape
print(f"Number of rows: {num_rows}")
print()
print(f"Number of columns: {num_cols}")

Number of rows: 541909

Number of columns: 8

In [9]:
print(type(retail_data))
print(type(retail_data["Quantity"]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [10]:
daily_sales = retail_data["Quantity"]
daily_sales

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

In [11]:
daily_sales[2]

np.int64(8)

In [12]:
retail_data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [17]:
print(daily_sales.mean())
print(daily_sales.median())
print(daily_sales.sum())
print(daily_sales.count())  # Number of not null values in each column
print(daily_sales.std())

9.55224954743324
3.0
5176450
541909
218.08115785023384

In [18]:
retail_data.shape[0] == daily_sales.count()

np.True_